@use "../custom-styling" as *;
@use "../components.scss/mixins" as *;
header{
 min-height: 100vh;
 background-image: url(../../assets/images/blog-1.jpeg);
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;

   nav {
   width:100%;
   height:80px;
   line-height: 80px;
  
   .show {
      display:block;
   }
   ul {
    display:flex;
    justify-content:center;
    
    @include media-breakpoint-down(sm){
     background:$primary;
     display:block;
     text-align: center;
     padding:0;
     background:$primary;
     min-height: 100vh;
     display:none;
    }

     
    
    li {
     padding: 0 1rem;
     @include media-breakpoint-down(lg){
        padding: 0 .50rem;
      }
      @include media-breakpoint-down(sm){
       border-bottom: 1px solid $gray-200;
       font-weight: bold;
       padding: 1.5rem 0;
       
      }
     a {
      font-size: 1.8rem;
      color:$black;
      @include media-breakpoint-down(md){
       font-size: 1.6rem;
      }
     }
    }
    .home {
  @include media-breakpoint-down(sm){
   padding-top: 80px;
  }
    }
    .logo {
     font-size: 4rem;
     padding: 0 15rem;
     font-weight: bold;
     @include media-breakpoint-down(lg){
       padding: 0 7rem;
      }
     @include media-breakpoint-down(md){
       font-size: 2.5rem;
      }
      @include media-breakpoint-down(sm){
       position: absolute;
       top:0;
       left:35%;
       font-size: 3rem;
       border-bottom: 1px solid $gray-200;
       display:block;
       font-weight: bold;
       padding: 0;

       
      }
    }
    .shopping-cart{
     position: relative;
     @include media-breakpoint-down(sm){
      position: absolute;
      top:0;
      right:3%;
      border-bottom: none;
     }
     span{
     position: absolute;
     bottom:20%;
     right:4%;
     background-color: $primary;
     padding:5px;
     border-radius: 50%;
     width:20px;
     height:20px;
     line-height: 10px;
     @include media-breakpoint-down(sm){
      background-color: $white;
     }
     }
    }
    
  .search-icon {
   @include media-breakpoint-down(sm){
    position: absolute;
    top:1%;
    right: 10%;
     border-bottom: none;
   }
  }
   }

   // burger menu
   .menu-btn{
    position: relative;
    width:80px;
    height:80px;
    transition: all 0.5s ease-in-out;
    display:flex;
    justify-content: center;
    align-items: center;
    display: none;
    @include media-breakpoint-down(sm){
    display: block;
    position: absolute;
    top:4%;
    left:4%;

    
    }
   }

    .menu-btn__burger {
       width:50px;
       height:6px;
       background:$white;
       border-radius: 5px;
       box-shadow:0.2px 5px rgba(255,101,47,.2);
       transition: all 0.5s ease-in-out;
     }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content:"";
        position: absolute;
        width:50px;
         height:6px;
         background:$white;
        border-radius: 5px;
        box-shadow:0 2px 5px rgba(255,101,47,.2);
        transition: all 0.5s ease-in-out;
       }

       .menu-btn__burger::before {
        transform: translateY(-16px);
       }

     .menu-btn__burger::after{
             transform: translateY(16px);
     }
  
 
.menu-btn.open .menu-btn__burger {
 transform:translateX(-50px);
 background:transparent;
 box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before{
 transform:rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after{
 transform:rotate(-45deg) translate(35px, 35px);
}

}
}

// Creation agnecy section

.creative-agency{
 padding:10rem 0;
 @include media-breakpoint-down(lg){
    padding:5rem 0;
 }

 &__title {
   
   @include media-breakpoint-down(lg){
    text-align: center;
 }
 

  h1 {
    text-align: left;
    letter-spacing: 3px;
      @include media-breakpoint-down(lg){
      font-size: 2.5rem;
      letter-spacing: 1px;
      text-align: center;
      }
        @include media-breakpoint-down(sm){
      font-size: 1.9rem;
      margin-bottom: 2rem;
      }
    }

    p {
      @include media-breakpoint-down(sm){
        font-size: 1.4rem;
      }
      span{
      color:$gray-500;
    }
    }
  }

 &__details {
    padding-top: 6rem;
    padding-bottom: 3rem;
    @include media-breakpoint-down(sm){
      padding-top: 3rem;
    }

    &--first {
        @include media-breakpoint-down(sm){
          margin:2rem 3rem;
        }

      &--image {
          img {
          border-radius: 50%;
          }
        }
      &--profession {
        color:$gray-500;
      }
    }

  
  &--second {
    justify-content: space-around;
    @include media-breakpoint-down(sm){
     justify-content: space-between;
     padding-top:1rem;
     padding-left: 4rem;
     padding-right: 4rem;
    }
    &--info {
      color:$gray-500;
      font-size:1.2rem;
      
      }
    }
  }
}
