@use "../custom-styling" as *;

// branding section
.branding {
 background-color: $primary;
 height: auto;
 width:100%;
 padding: 10rem 0 ;
 @include media-breakpoint-down(sm){
  padding-top:2rem;
 }
&__images {
 position: relative;
 margin: 0 auto;
 display:flex;
 padding-top: 100px;
 justify-content: center;
 align-items: center;
 @include media-breakpoint-down(sm){
  padding:2rem;
  padding-top: 50px;
 }
 &--circle {
  position: absolute;
  top:0%;
  left:20%;
  img {
   width:100%;
  }
  @include media-breakpoint-down(lg){
   left:10%;
  }
  @include media-breakpoint-only(md) {
   left:0%
   }
   @include media-breakpoint-down(sm) {
   width:12rem;
   left:0%;
   top:5%;
   }
  }
 }


 &__name {
  padding-top: 5rem;

  h1 {
   @include media-breakpoint-down(sm){
    font-weight: bold;
   }
  }
  p {
   @include media-breakpoint-down(sm){
    padding:1rem;
    font-size: 1.6rem;
   }
  }
 }
}

// services section
.services {
 padding: 10rem 5rem 10rem 0;
 background-image: url('../../assets/images/home-4.jpeg');
 background-repeat: no-repeat;
 background-size: cover;
 background-position:center;
 
  @include media-breakpoint-down(sm){
   padding-left: 5rem;
  }

 &__icon {
  outline: 1px solid black;
  border-radius: 50%;
  width:50px;
  height:50px;
  display:inline-block;
  line-height: 50px;
  margin-top: 1rem;
  position: relative;
  i{
   position: absolute;
   top:50%;
   left:50%;
   font-size: 2rem;
   transform: translate(-50%,-50%);
  }
 }

 

 p {
  color:$gray-500;
 }
 .display-6{
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
 }
}

// team section 
.team {
 width:100%;
 padding: 7rem 3rem;
 display:flex ;
 justify-content: center;
 align-items: center;
 

 &__player{
  background:$secondary;
  padding:3rem;
  margin-right: 2rem;
 }
 &__image {
  max-width:100%;
  max-height:100%;
  img{
   width:100%;
   height:100%;
   object-fit: cover;
  }
 }
}

// portfolio section

.portfolio {
 height:100vh;
  &__view {
   display:flex;
   background:$primary;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding:6rem;
   text-align: center;
  button{
   padding:1rem 2rem;
   outline: none;
   border:none;
   }
}

}